@page "/ocupaciones"
@inject OcupacionesBLL ocupacionBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />

    <div  class="row">
        <select class="form-control" @bind="Filtro">
            <option value="1">OcupacionId</option>
            <option value="2">Descripcion</option>
        </select>
    </div>

    <label class="form-control">Criterio</label>
    <input type="text" class="form-control" @bind="Criterio">

    <div>
        <button type="button" @onclick="Buscar">
            <i>Buscar</i>
        </button>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>OcupacionId</th>
                <th>Descripcion</th>
                <th>Salario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ocupacion in lista)
            {
                <tr>
                    <td>@ocupacion.OcupacionId</td>
                    <td>@ocupacion.Descripcion</td>
                    <td>@ocupacion.Salario</td>
                    <td><a href="ocupacion/@ocupacion.OcupacionId">Ver</a></td>
                </tr>
            }

        </tbody>

    </table>
</EditForm>

@code
{
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";

    public List<Ocupaciones> lista { get; set; } = new List<Ocupaciones>();
    public void Buscar()
    {
        lista = ocupacionBLL.GetList(o => true);
    }
}
